<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPC Fixr</title>
    <link rel="shortcut icon" href="/imgs/barcode.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <section>
    <div id="view">
      <h2 style="text-align:center">Maybe you should check the file...</h2>
      <iframe src="https://giphy.com/embed/FxEwsOF1D79za" width="480" height="431" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/FxEwsOF1D79za">via GIPHY</a></p>
    </div>
    </section>

  </body>
</html>
